.title {
    text-align: center;
    font-size: 30px;
}

form {
    width: 500px;
    margin: 0 auto;
}

#name, #content {
    font-size: 15px;
}

.yeets {
    width: 80%;
    margin: 0 auto;
}
  
.yeets > div {
    background: hsl(0, 0%, 95%);
    padding: 12px;
    border-radius: 4px;
}
  
.yeets > div > h3 {
    word-wrap: break-word;
}
  
.yeets > div > p {
    word-wrap: break-word;
}
  
.yeets > div:not(:last-child) {
    margin-bottom: 8px;
}